
    <%-include("partials/header")%>
    <div class="card">
        <ul class="habits">
            <li class="items">Loose Weight</li>
            <li class="items">30</li>
            <li class="items">Category</li>

        </ul>
    </div>
    <div class="card">
        <ul class="habits">
            <li class="items">Loose Weight</li>
            <li class="items">30</li>
            <li class="items">Category</li>
        </ul>
    </div>


    <%-include("partials/footer")%>
