
    <%-include("partials/header")%>
    <div class="form">
            <form>
                <div class="new-box">
                    <input placeholder="Habit">
                </div>
                <div class="new-box">
                <input placeholder="Duration">
            </div>
            <div class="new-box">
                <input placeholder="Category">
            </div>
            <div class="button">
                <button>Submit</button>
            </div>
            </form>
        </div>
    </div>



    <%-include("partials/footer")%>
