


 /* Standard */
 html, body {
    height: 100%;
 }
 body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;


}
li {
    list-style: none;
}


.container{
    width: 85vw;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: white;
}
.platform{
    height: 300px;
    width: 280px;
    display: grid;
    grid-template-columns: 50px 200px;
    overflow: hidden;
    background: #131315;
    color: white;
    box-shadow: 0  15px 25px rgba(16, 147, 234, 0.7);
    cursor: pointer;
    gap: 8px;

}
 /* Standard End */
 /* Header Start */


header{
    grid-column: 1 / 2;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;

}
ul li {
    margin: 10px;

}


li a i{
    font-size: 2rem;
    color: #222;
    cursor: pointer;
}
.links{
    padding: 6px;

}
.links:hover a i{
    color:   rgba(16, 147, 234, 0.7);
}

 /* Header End */

  /* Main Start */

main{
    grid-column: 2 / 3;

}
/* Habit Card Start */

.card{
    width: 205px;
    background: #242026;
    gap: 10px;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0  15px 25px rgba(16, 147, 234, 0.7);
    transform: scale(1.05);

}
.habits {
    display: flex;
    margin-left: -38px;
    justify-content: space-around;
}

.items {
    font-size: .6rem;
}

.title {
    width: 205px;
    gap: 10px;
    background-color: rgba(16, 147, 234, .7);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
}
/* Habit Card End */

















/* New Habit Form */
.form{
    width: 200px;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    text-align: center;
    height: 250px;
    justify-content: space-evenly;
    cursor: pointer;
}
input {
    width: 90px;
    border: none;
    text-align: center;
    background: transparent;
    color: #222;
    border-bottom: 1px solid #222;

}
input:hover{
    transform: scale(1.1);
}
.new-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    padding: 7px 38px;
    border: none;
    background-color: #242026;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    box-shadow: 0px 0px 15px rgba(16, 147, 234, 0.7);
    transform: scale(1.05);

}
select{
    background: transparent;
    width: 90px;
    border: none;
    color: #222;
}
label {
    color: #222;
}